.sticky-header--gatherer {
    position: fixed;
    width: 100%;
    margin-bottom: 3em;
}

.sticky-header {
    background-color: rgb(29, 28, 28);
    height: 2.5em;
    display: flex;
    align-content: center;
}

.sticky-header__logo {
    height: 0.7em;
    padding: 0.5em;
    background-color: rgb(29, 28, 28);
    margin-right: 80%;
}

.sticky-header__button {
    border: none;
    border-radius: 4px;
    background-color: rgb(125, 189, 29);
    width: 5em;
    height: 2em;
    text-align: center;
    float: right;
    margin-top: 0.3em;
    margin-right: 0.5em;
    color: white;
    box-shadow: inset -1px -1px rgb(80, 122, 17);

    &:hover {
        background-color: rgb(97, 148, 21);
        cursor: pointer;
    }
}

.sticky-header__line {
    height: 2px;
    background-color: black;
}

.main-header {
    margin-bottom: 2em;
    height: 3em;
    padding-top: 4em;
    display: grid;
    grid-template-areas: '. headline . nav-line nav-line nav-line nav-line .' ;
}

.main-header__headline {
    color:white;
    margin-left: 10em;
    grid-area: headline;
    align-content: center;
}

.main-header__nav-line {
    grid-area: nav-line;
}

.main-header__nav a {
    text-decoration: none;
    color: white;
    &:hover {
        color:aqua;
    }
}

.main-header__search-icon img {
    height: 1em;
    float:right;
}

