.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main__aside {
    color: white;
    transform: rotate(-90deg);
    float: left;
    display: grid;
    grid-column: 1/2;
}

.main__pinned {
    grid-column: 2/7;

}

.main__pinned2 {
    display: grid;
    grid-template-areas: 
    'medium1 medium1 medium1 small1 small1 small2 small2'
    'medium1 medium1 medium1 small3 small3 small4 small4'; 
}

.main__pinned__picture--medium {
    grid-area: medium1;
    background-color: antiquewhite;
}

.main__pinned__picture--small1 {
    grid-area: small1;
    background-color: blue;
}

.main__pinned__picture--small2 {
    grid-area: small2;
    background-color: yellow;
}

.main__pinned__picture--small3 {
    grid-area: small3;
    background-color: purple;
}

.main__pinned__picture--small4 {
    grid-area: small4;
    background-color: pink;
}