@import '../features/features.scss';

main {
    display: grid;
    grid-template-areas: 'aside content content content content content content .';
}

.main__content {
    grid-area: content;
}

.main__aside {
    color: white;
    transform: rotate(-90deg);
    grid-area: aside;
    position: fixed;
    left: -5em;
    margin-top: 10em;
}

.main__pinned {
    color: white;
    margin-left: 7em;
    margin-right: 7em;
    margin-bottom: 3em;
}

.main__pinned2 {
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 
    'medium1 medium1 medium1 small1 small1 small2 small2'
    'medium1 medium1 medium1 small3 small3 small4 small4'; 
}

.main__pinned__pic--medium {
    @extend .picture-frame;
    grid-area: medium1;
    background-color: rgb(124, 96, 58);
}

.main__pinned__pic--small1 {
    @extend .picture-frame-small;
    grid-area: small1;
    background-color: blue;
}

.main__pinned__pic--small2 {
    @extend .picture-frame-small;
    grid-area: small2;
    background-color: yellow;
}

.main__pinned__pic--small3 {
    @extend .picture-frame-small;
    grid-area: small3;
    background-color: purple;
}

.main__pinned__pic--small4 {
    @extend .picture-frame-small;
    grid-area: small4;
    background-color: pink;
}

.main__pinned button {
    @extend .feature-button-light;
    margin: 1em;
}

.main__large-pictures {
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    margin-right: 10em;
}

.main__large-pictures__pic1 {
    @extend .picture-frame-large;
    margin-bottom: 5em;
    color: white;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    h2 {
        color: white;
    }
    button {
        @extend .feature-button-light-filled;
        margin: 0.3em
    }
}

.main__large-pictures__pic2 {
    @extend .picture-frame-large;
    margin-bottom: 5em;
    color: white;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    h2 {
        color: white;
    }
    button {
        @extend .feature-button-light-filled;
        margin: 0.3em;
    }
}

.main__large-pictures__pic3 {
    @extend .picture-frame-large;
    margin-bottom: 5em;
    color: white;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    h2 {
        color: white;
    }
    button {
        @extend .feature-button-light-filled;
        margin: 0.3em
    }
}

.main__see-more {
    margin-bottom: 3em;
    color: white;
    text-align: center;
}

.main__articles {
    margin-left: 9em;
    margin-right: 9em;
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 'art1 art1 art1 art2 art2 art2'
    'art3 art3 art4 art4 art5 art5'
    'load-button load-button load-button load-button load-button load-button';
}

.main__articles__article1 {
    @extend .picture-frame-article;
    grid-area: art1;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    button {
        @extend .feature-button-light-filled;
    }
}
.main__articles__article2 {
    @extend .picture-frame-article;
    grid-area: art2;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    button {
        @extend .feature-button-light-filled;
    }
}

.main__articles__article3 {
    @extend .picture-frame-article;
    grid-area: art3;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    button {
        @extend .feature-button-light-filled;
    }
}

.main__articles__article4 {
    @extend .picture-frame-article;
    grid-area: art4;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    button {
        @extend .feature-button-light-filled;
    }
}

.main__articles__article5 {
    @extend .picture-frame-article;
    grid-area: art5;
    background-image: url("../images/leaves.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    button {
        @extend .feature-button-light-filled;
    }
}

.main__articles__load-button {
    grid-area: load-button;
    justify-self: center;
    width: 50%;
    background-color: rgb(41, 40, 40);
    color: white;
    border-style: none;
    padding: 1em;
    border-radius: 8px;
    &:hover {
        width: 52%;
        cursor: pointer;
        background-color: rgb(207, 163, 81);
        color: black;
    }
}

.main__subscribe {
    margin-top: 3em;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column; 
    justify-items: center; 
    width: 50%;
    margin-left: 20%;
}

.main__subscribe__form {
    display: flex;
    flex-direction: column; 
    justify-items: center;  
}

.main__subscribe h2 {
    margin-bottom: 1em;
}

.main__subscribe__typed-text {
    margin-bottom: 3em;
}

.main__subscribe__placeholder {
    color: grey;
    text-align: center;
    padding: 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid white;
    margin-bottom: 3em;
}

.main__subscribe__submit {
    width: 8em;
    background-color: rgb(41, 40, 40);
    color: white;
    border-style: none;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 10em;
    justify-self: center;
    &:hover {
        width: 9em;
        cursor: pointer;
        background-color: rgb(207, 163, 81);
        color: black;
    }

}