* {
  margin: 0;
  padding: 0;
  background-color: rgb(27, 23, 34);
  font-family: Arial, Helvetica, sans-serif;
}

.sticky-header--gatherer {
  position: fixed;
  width: 100%;
  margin-bottom: 3em;
}

.sticky-header {
  background-color: rgb(29, 28, 28);
  height: 2.5em;
  display: flex;
  align-content: center;
}

.sticky-header__logo {
  height: 0.7em;
  padding: 0.5em;
  background-color: rgb(29, 28, 28);
  margin-right: 80%;
}

.sticky-header__button {
  border: none;
  border-radius: 4px;
  background-color: rgb(125, 189, 29);
  width: 5em;
  height: 2em;
  text-align: center;
  float: right;
  margin-top: 0.3em;
  margin-right: 0.5em;
  color: white;
  box-shadow: inset -1px -1px rgb(80, 122, 17);
}
.sticky-header__button:hover {
  background-color: rgb(97, 148, 21);
  cursor: pointer;
}

.sticky-header__line {
  height: 2px;
  background-color: black;
}

.main-header {
  margin-bottom: 2em;
  height: 3em;
  padding-top: 4em;
  display: grid;
  grid-template-areas: ". headline . nav-line nav-line nav-line nav-line .";
}

.main-header__headline {
  color: white;
  margin-left: 10em;
  grid-area: headline;
  align-content: center;
}

.main-header__nav-line {
  grid-area: nav-line;
}

.main-header__nav a {
  text-decoration: none;
  color: white;
}
.main-header__nav a:hover {
  color: aqua;
}

.main-header__search-icon img {
  height: 1em;
  float: right;
}

.picture-frame, .main__pinned__pic--medium {
  border-radius: 10px;
  padding: 1em;
}
.picture-frame:hover, .main__pinned__pic--medium:hover {
  transform: translateY(-3px);
}

.picture-frame-large, .main__large-pictures__pic3, .main__large-pictures__pic2, .main__large-pictures__pic1 {
  border-radius: 10px;
  padding: 1em;
  height: 13em;
}
.picture-frame-large:hover, .main__large-pictures__pic3:hover, .main__large-pictures__pic2:hover, .main__large-pictures__pic1:hover {
  transform: translateY(-3px);
}

.picture-frame-article, .main__articles__article5, .main__articles__article4, .main__articles__article3, .main__articles__article2, .main__articles__article1 {
  border-radius: 10px;
  height: 13em;
  padding: 1em;
}
.picture-frame-article:hover, .main__articles__article5:hover, .main__articles__article4:hover, .main__articles__article3:hover, .main__articles__article2:hover, .main__articles__article1:hover {
  transform: translateY(-3px);
}

.picture-frame-small, .main__pinned__pic--small4, .main__pinned__pic--small3, .main__pinned__pic--small2, .main__pinned__pic--small1 {
  border-radius: 10px;
  padding: 1em;
}
.picture-frame-small h2, .main__pinned__pic--small4 h2, .main__pinned__pic--small3 h2, .main__pinned__pic--small2 h2, .main__pinned__pic--small1 h2 {
  font-size: medium;
  padding-bottom: 1em;
}
.picture-frame-small:hover, .main__pinned__pic--small4:hover, .main__pinned__pic--small3:hover, .main__pinned__pic--small2:hover, .main__pinned__pic--small1:hover {
  transform: translateY(-3px);
}

.feature-button-light, .main__pinned button {
  height: 1.5em;
  border-radius: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: none;
  background-color: white;
  color: black;
}

.feature-button-dark {
  height: 1em;
  border-radius: 10px;
  border-style: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(27, 23, 34);
  color: white;
}

.feature-button-light-filled, .main__articles__article5 button, .main__articles__article4 button, .main__articles__article3 button, .main__articles__article2 button, .main__articles__article1 button, .main__large-pictures__pic3 button, .main__large-pictures__pic2 button, .main__large-pictures__pic1 button {
  height: 1.6em;
  border-radius: 15px;
  border-color: white;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0.3em;
}
.feature-button-light-filled:hover, .main__articles__article5 button:hover, .main__articles__article4 button:hover, .main__articles__article3 button:hover, .main__articles__article2 button:hover, .main__articles__article1 button:hover, .main__large-pictures__pic3 button:hover, .main__large-pictures__pic2 button:hover, .main__large-pictures__pic1 button:hover {
  background-color: white;
  color: black;
}

.feature-button-dark-filled {
  height: 1em;
  border-radius: 10px;
  border-color: white;
  color: white;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
.feature-button-dark-filled:hover {
  background-color: rgb(27, 23, 34);
  color: white;
}

main {
  display: grid;
  grid-template-areas: "aside content content content content content content .";
}

.main__content {
  grid-area: content;
}

.main__aside {
  color: white;
  transform: rotate(-90deg);
  grid-area: aside;
  position: fixed;
  left: -5em;
  margin-top: 10em;
}

.main__pinned {
  color: white;
  margin-left: 7em;
  margin-right: 7em;
  margin-bottom: 3em;
}

.main__pinned2 {
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "medium1 medium1 medium1 small1 small1 small2 small2" "medium1 medium1 medium1 small3 small3 small4 small4";
}

.main__pinned__pic--medium {
  grid-area: medium1;
  background-color: rgb(124, 96, 58);
}

.main__pinned__pic--small1 {
  grid-area: small1;
  background-color: blue;
}

.main__pinned__pic--small2 {
  grid-area: small2;
  background-color: yellow;
}

.main__pinned__pic--small3 {
  grid-area: small3;
  background-color: purple;
}

.main__pinned__pic--small4 {
  grid-area: small4;
  background-color: pink;
}

.main__pinned button {
  margin: 1em;
}

.main__large-pictures {
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-right: 10em;
}

.main__large-pictures__pic1 {
  margin-bottom: 5em;
  color: white;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
}
.main__large-pictures__pic1 h2 {
  color: white;
}
.main__large-pictures__pic1 button {
  margin: 0.3em;
}

.main__large-pictures__pic2 {
  margin-bottom: 5em;
  color: white;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
}
.main__large-pictures__pic2 h2 {
  color: white;
}
.main__large-pictures__pic2 button {
  margin: 0.3em;
}

.main__large-pictures__pic3 {
  margin-bottom: 5em;
  color: white;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
}
.main__large-pictures__pic3 h2 {
  color: white;
}
.main__large-pictures__pic3 button {
  margin: 0.3em;
}

.main__see-more {
  margin-bottom: 3em;
  color: white;
  text-align: center;
}

.main__articles {
  margin-left: 9em;
  margin-right: 9em;
  display: grid;
  grid-gap: 1em;
  grid-template-areas: "art1 art1 art1 art2 art2 art2" "art3 art3 art4 art4 art5 art5" "load-button load-button load-button load-button load-button load-button";
}

.main__articles__article1 {
  grid-area: art1;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.main__articles__article2 {
  grid-area: art2;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.main__articles__article3 {
  grid-area: art3;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.main__articles__article4 {
  grid-area: art4;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.main__articles__article5 {
  grid-area: art5;
  background-image: url("../images/leaves.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.main__articles__load-button {
  grid-area: load-button;
  justify-self: center;
  width: 50%;
  background-color: rgb(41, 40, 40);
  color: white;
  border-style: none;
  padding: 1em;
  border-radius: 8px;
}
.main__articles__load-button:hover {
  width: 52%;
  cursor: pointer;
  background-color: rgb(207, 163, 81);
  color: black;
}

.main__subscribe {
  margin-top: 3em;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 50%;
  margin-left: 20%;
}

.main__subscribe__form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.main__subscribe h2 {
  margin-bottom: 1em;
}

.main__subscribe__typed-text {
  margin-bottom: 3em;
}

.main__subscribe__placeholder {
  color: grey;
  text-align: center;
  padding: 10px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid white;
  margin-bottom: 3em;
}

.main__subscribe__submit {
  width: 8em;
  background-color: rgb(41, 40, 40);
  color: white;
  border-style: none;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 10em;
  justify-self: center;
}
.main__subscribe__submit:hover {
  width: 9em;
  cursor: pointer;
  background-color: rgb(207, 163, 81);
  color: black;
}

.footer__nav a {
  text-decoration: none;
  color: white;
}
.footer__nav a:hover {
  color: aqua;
}

/*# sourceMappingURL=styles.css.map */
